
# IDE directories
.idea/
.vscode/

# Python bytecode files and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment directories
venv/
env/
ENV/
.venv/


# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb

# Log files
logs/
*.log
app.log

# Configuration files
config.yaml

# Example directories
EXAMPLE/
