
__pycache__/
*.pyc
# Ignore all Python bytecode files and cache directories

# Ignore virtual environment directories
venv/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Jupyter Notebook metadata
.ipynb
logs/
# Ignore log files
# Ignore configuration files
config.yaml
# Ignore
EXAMPLE/