*.pyc
*.py
*.pyc
views/__pycache__/settings_view.cpython-313.pyc
views/__pycache__/nation_view.cpython-313.pyc
views/__pycache__/nation_details_view.cpython-313.pyc
views/__pycache__/mod_selector_widget.cpython-313.pyc
views/__pycache__/hull_list_view.cpython-313.pyc
views/__pycache__/hull_form.cpython-313.pyc
views/__pycache__/home_view.cpython-313.pyc
views/__pycache__/fleet_view.cpython-313.pyc
views/__pycache__/equipment_view.cpython-313.pyc
views/__pycache__/equipment_form.cpython-313.pyc
views/__pycache__/design_view.cpython-313.pyc
utils/__pycache__/path_utils.cpython-313.pyc
utils/__pycache__/maptest2.cpython-313.pyc
parser/__pycache__/StrategicRegionParser.cpython-313.pyc
parser/__pycache__/StateParser.cpython-313.pyc
parser/__pycache__/parsetab.cpython-313.pyc
parser/__pycache__/EffectParser.cpython-313.pyc
parser/__pycache__/CountryColorParser.cpython-313.pyc
parser/__pycache__/__init__.cpython-313.pyc
models/__pycache__/hull_model.cpython-313.pyc
models/__pycache__/equipment_model.cpython-313.pyc
